
/* Footer */
#footer {
    background-color: $footer-bg-color;
    text-align: center;
    @include breakpoint(md) {
        text-align: left;
    }

    // set font color
    &, a, h1, h2, h3 {
        color: $footer-text-color;
    }
}

@include breakpoint(md) {
    .footer-right-side {
        // right align the right side of the footer
        text-align: right;
        // and space down a little
        padding-top: 1em;
    }
}

// display logo as inline so it centers with text align
.footer-logo {
    display: inline-block;
}

// space out the links & icons
#footer .inline-list a,
#footer .fa {
    margin: 0 .5em;
}
.footer-social-icons a {
    text-decoration: none;
}
