
/* Footer */
#footer {
    background-color: $footer-bg-color;
    text-align: left;
}
#footer,
#footer a,
#footer h1,
#footer h2,
#footer h3 {
    color: $footer-text-color;
}

#footer hr {
    margin: 0;
}

// remove the default darker background colour responsive-base gives by default
.footer-social-links,
.footer-copyright {
    background-color: transparent;
    // remove that default min height
    min-height: auto;
    // and center these
    text-align: center;
}

// show the footer links as simple blocks
.footer-link-lists {
    margin-bottom: 1em;
}
.footer-link-lists ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.footer-link-lists,
.footer-link-lists li,
.footer-link-lists ul,
.footer-link-lists a {
    display: block;
}
.footer-link-lists a[href^="mailto:"],
.footer-link-lists a[href^="tel:"] {
    display: inline-block;
}
.footer-link-lists ul ul {
    padding-left: 1em;
}
